.container {
  width: 950px;
  height: 950px;
  margin-top: 50px;
  background-color: inline;
}
.right-pic{
  height: 300px;
  width: 500px;
}
option{
  align-items: center;
}
.containerBtn{
  margin-top: 135px;
}
.forecast{
  width: 138px;
  hight: 138px;
  background-color: #669A57;
}
.George{
  
}
